.idea
.env
checkpoints/
*.json
**/__pycache__/
src/optimisation/
src/tests/others
src/tests/test_backend
src/files/
todo.txt
.coverage
*.html
src/nlp_operations/eksperyment.py
src/wykresy/similarity_plots
not_used/
models/
models_nlp/
*.joblib
outputs/
src/route_optimalization/ignore/
docs/_build/
model_doc2Vec/
new_models/
.model
*.gz
src/nlp_operations/
doc2vec
