services:
  backend:
    build:
      context: ./apps/backend/
      dockerfile: Dockerfile
    env_file:
      - apps/backend/.env
    environment:
      PLACES_DB_API_CONFIG_FILE: /run/secrets/firebase_places_sa
      USERS_DB_API_CONFIG_FILE: /run/secrets/firebase_users_sa
    ports:
      - "5000:5000"
    restart: unless-stopped
    secrets:
      - firebase_places_sa
      - firebase_users_sa
    healthcheck:
      test:
        - CMD
        - python
        - -c
        - "import socket; socket.create_connection(('localhost', 5000), 3)"
      interval: 30s
      timeout: 10s
      retries: 5

  llm:
    

secrets:
  firebase_places_sa:
    file: ./apps/backend/pandapath-places-firebase-adminsdk-fbsvc-9c55f9e23a.json
  firebase_users_sa:
    file: ./apps/backend/pandapath-users-firebase-adminsdk-fbsvc-904023fff7.json
