<app-background [image]="'0.jpg'"></app-background>
<div class="inset-0 md:h-full flex flex-col justify-center items-center
    text-white text-center select-none">
  <div class="mt-16 md:mt-0 rounded-3xl bg-white p-4 md:p-6 shadow-2xl backdrop-blur-md">
    <img src="assets/images/capri.png" alt="CAPRI logo"
         class="h-36 md:h-44 lg:h-52 w-auto object-contain">
  </div>
    <button class="bg-white text-black p-4 text-2xl font-semibold rounded-lg hover:bg-gray-200 transition-colors my-2"
      (click)="start()">
      Plan Your Trip
    </button>
</div>
